.Toastify__toast--error {
  background-color: red !important;
  color: white !important;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
}

.Toastify__toast-container {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}